* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.navbar{
  background-color: skyblue;
 padding: 1.5rem 1rem;
}
.nav-items{
  display: inline-block;
  margin-right: 1.5rem;

}
.navbar h1{
  display: inline-block;
  margin-right: 2rem;
}
a{
  color: black;
  margin-right: 1.5rem;
  margin-top: 1rem;
  font-size: 18px;
  text-decoration: none;
}
.hero {
  background-color: rgb(7, 98, 255);
  color: white;
  width: 100%;
  height: 100vh;
  padding-left: 43px;
text-transform: capitalize;
}
.hero button {
  background-color: red;
  color: white;
  margin: 20px;
  padding: 20px;
  text-transform: capitalize;
  border: 4px solid black;
  border-radius: 12px;
  font-size: 13px;
}
.hero button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.hero h2{
  font-size: 50px;
  color: black;
}
.hero .box2 ul {
  list-style-type: square;
  margin-left: 20px;
}
.hero h1{
  color: black;
}
.contact{
  background-color: lightgray;
  padding: 20px;
  color: black;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
