* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
header h1 {
  background: #383535;
  color: white;
  margin: 60px 50px;
  padding: 50px 60px;
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
  bottom: -37px;
}
nav {
  background-color: rgb(149, 96, 96);
  height: 70px;
  position: relative;
  bottom: 266px;
  padding: 5px;
}
nav a {
  color: black;
  text-decoration: none;
  margin: 90px 90px;
  padding-left: 60px;
  text-align: center;
  font-size: 19px;
  position: relative;
}
.hero {
  background-color: rgb(202, 194, 194);
  color: rgb(31, 29, 29);
  margin: 50px 50px;
  padding: auto;
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: 131px;
  border-radius: 10px;
}
.hero button {
  background-color: blue;
  color: white;
  margin: 20px;
  padding: 20px;
  text-transform: capitalize;
  border: 2px solid red;
  border-radius: 10px;
  font-size: 20px;
}
.box1 {
  background-color: #8d7878;
  color: rgb(0, 0, 0);
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  position: relative;
  bottom: 76px;
  /* border: 2px solid black; */
  border-radius: 5px;
}
.box1 h2 {
  background-color: #383535;
  color: white;
  margin: 26px;
  padding: 18px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  bottom: 96px;
}
.box1 p {
  margin: 20px;
  padding: 20px;
  position: relative;
  bottom: 5px;
  border-radius: 5px;
}
.box2 {
  background-color: rgb(224, 224, 224);
  color: black;
  margin: 20px;
  padding: 25px;
  border-radius: 5px;
  position: relative;
  bottom: 85px;
}
.box2 ul {
  list-style: disc;
}
.box2 li {
  font-size: 20px;
}
.box3 {
  position: relative;
  bottom: 120px;
}
.box3 h1 {
  background-color: #383535;
  color: white;
  margin: 50px 20px;
  padding: 20px;
  position: sticky;
  z-index: 3;
}
.box3 p {
  background-color: rgb(31, 31, 77);
  color: white;
  margin: 30px;
  padding: 30px;
  position: sticky;
  z-index: 2;
  bottom: 154px;
}
.contact h2 {
  background-color: red;
  /* display: inline-block; */
  border-radius: 5px;
  /* width: 200px; */
  padding: 20px;
  margin: 20px;
  text-align: center;
  position: relative;
  bottom: 130px;
}
.contact p {
  background-color: rgb(87, 35, 35);
  color: white;
  margin: 50px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: 170px;
}
.contact-details {
  background-color: rgb(75, 154, 223);
  color: white;
  position: relative;
  bottom: 206px;
  margin: 40px;
  padding: 20px;
}
.contact-details a {
  color: black;
  text-decoration: none;
  position: relative;
}
.contact-details h3 {
  color: black;
  position: relative;
}
footer {
  background-color: rgb(231, 75, 75);
  text-align: center;
  position: relative;
  bottom: 235px;
  margin: 30px;
  padding: 20px;
}
