* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.navbar{
  background-color: skyblue;
 padding: 1.5rem 1rem;
}
.nav-items{
  display: inline-block;
  margin-right: 1.5rem;

}
.navbar h1{
  display: inline-block;
  margin-right: 2rem;
}
a{
  color: black;
  margin-right: 1.5rem;
  margin-top: 1rem;
  font-size: 18px;
  text-decoration: none;
}
.hero {
 background-color: rgb(7, 98, 255);
  color: white;
  margin: 9px 332px;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  bottom: 131px;
  border-radius: 12px;
}
.hero button {
  background-color: red;
  color: white;
  margin: 20px;
  padding: 20px;
  text-transform: capitalize;
  border: 5px solid black;
  border-radius: 12px;
  font-size: 20px;
}
